{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h2>Get in and start your with Work-Tracker</h2>
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <input type="email" class="form-control my-3" name="email" placeholder="Your Email" required>
                <input type="password" class="form-control my-3" name="password" placeholder="Your Password" required>
                <input type="submit" class="btn btn-primary" >
                <p class="py-3">N'avez-vous pas encore de compte, cliquez <a href="signup">ici</a></p>
            </form>
        </div>
    </div>
{% endblock %}